@model ViewModel.ViewMessage
@{
    ViewBag.Title = "Site Analyze";
}

<h1>Number of word occurrences in meta tags</h1>
<table id="tblMeta" class="table table-condensed table-bordered table-striped table-hover" style="width:100%">
    <thead>
        <tr>
            <th>Word</th>
            <th>Count</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var wordResut in Model.MetaWordResults)
        {
            <tr>
                <td>@wordResut.Word</td>
                <td>@wordResut.Count</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>Word</th>
            <th>Count</th>
        </tr>
    </tfoot>
</table>

<h1>Number of word occurrences external link in a page</h1>
<table id="tblLink" class="table table-condensed table-bordered table-striped table-hover" style="width:100%">
    <thead>
        <tr>
            <th>URL</th>
            <th>Count</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var wordResut in Model.ExternalLinkResults)
        {
            <tr>
                <td>@wordResut.Word</td>
                <td>@wordResut.Count</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>URL</th>
            <th>Count</th>
        </tr>
    </tfoot>
</table>

@section scripts{
    <script src="~/Scripts/jquery.dataTables.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.js"></script>
    <script>
        $(function () {
            var tblText = $('#tblMeta').DataTable();
            var tblLink = $('#tblLink').DataTable();
        });
    </script>
}