@model ViewModel.ViewMessage
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <h1 class="text-center">SEO Analyzer</h1>

</div>

@if (@Model.StatusID != "0")
{
    <div class="alert alert-danger" role="alert">@Model.Message</div>
}
<div class="row">
    <div class="col-md-12">
        <form method="post" action="@Url.Action("Analyze", "Home")">
            <div class="form-group">
                <label for="webURL">Website or Text</label>
                <input type="text" class="form-control" id="webURL" name="webURL" placeholder="Your website URL or text.">

            </div>
            <span id="helpBlock" class="help-block">Website URL format MUST begin with http://www or https://www </span>
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="isEnabledAnalyze" name="isEnabledAnalyze" @(Model.isEnabledAnalyzeChecked == true ? "Checked" : string.Empty)> Disabled
                </label>
            </div>

            <button type="submit" class="btn btn-default">Send</button>
        </form>
    </div>
</div>